@import "./../../../assets/scss/vars";
@import "./../../../assets/scss/mixins";

@font-face{
    font-family: "Arial";
    src: url("./../../../assets/fonts/Arial.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: "Georgia";
    src: url("./../../../assets/fonts/georgia.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}

@import "./../../../assets/scss/normalize";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Arial", serif;
    font-weight: 400;
}
body{
    height: 100%;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    background: $colorLight;
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    .container {
        max-width: 75em;
        margin: 0 auto;
    }
    &__inner {
        padding: 2em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo-title {
        font-family: "Georgia", serif;
        @include text(2rem, 400, 110%, $titleColor); 
        letter-spacing: 0.05em;
        margin-bottom: 10px;
    }
    &__logo-subtitle {
        font-family: "Arial";
        @include text(0.8125rem, 400, 100%, #292929); 
        letter-spacing: 0.12em;
    }
    &__menu-list {
        display: flex;
    }
    &__menu-item {
        margin-left: 2.1875em;
        position: relative;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        &:nth-child(2):before{
            content: '';
            position: absolute;
            background:$primaryColor;
            height: 3px;
            width:100%;
            top: 100%;
        }
        &:hover{
            color: #292929;
            transform:scale(1.1);
            -webkit-transform:scale(1.1);
            -moz-transform:scale(1.1);
            -ms-transform:scale(1.1);
            -o-transform:scale(1.1);
        }
        // &:active::before{
        //     content: '';
        //     position: absolute;
        //     background:$primaryColor;
        //     height: 3px;
        //     width:100%;
        //     top: 100%;
        // }
    }
    &__menu-link {
        @include text(0.9375rem, 400, 160%, $titleColor); 
    }
}

.title{
    font-family: "Georgia", serif;
    @include text(2.1875rem, 400, 130%, $titleColor); 
    letter-spacing: 0.06em;
}

.our-pets {
    background:$backgroundLight;
    .container {
        max-width: 75em;
        margin: 0 auto;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 5em 0 6.25em;
    }
    &__title {
        max-width: 25rem;
        text-align: center;
        margin-bottom: 1.72em;
    }
    &__catalog {
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        margin-bottom: 3.72em;
    }
    &__pagination{
        display: flex;
        justify-content: center;
    }
}

.card {
    background:#FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    &:hover{
        cursor: pointer;
        background-color: $colorLight;
        box-shadow: 0px 2px 35px 14px #0D0D0D0A;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }
    &__wra-img {
        margin-bottom: 1.5em;
    }
    &__subtitle {
        @include text(1.25rem, 400, 100%, $titleColor); 
        margin-bottom: 1.5em;
        letter-spacing: 0.07em
    }
    &__btn {
        font-family: "Georgia", serif;
        @include text(1.0625rem, 400, inherit, #292929); 
        padding: 16px 45px;
        background:transparent;
        border:2px solid $primaryColor;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        margin-bottom: 1.5em;
        letter-spacing: 0.06em
    }
}
.card:hover .card__btn{
    cursor: pointer;
    background:$primaryHover;
    border:2px solid $primaryHover;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.our-pets__cards:first-child,
.our-pets__cards:nth-child(2),
.our-pets__cards:nth-child(3),
.our-pets__cards:nth-child(4){
    margin-bottom: 2.3em;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: "Georgia", serif;
    @include text(1.25rem, 400, 115%, #292929); 
    letter-spacing: 0.06em;
    width: 52px;
    height: 52px;
    border: 2px solid $primaryColor;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 0.5em; 
    
    &:nth-child(4):hover,
    &:nth-child(5):hover{
        background: $primaryHover;
        border: 2px solid $primaryHover;
        cursor: pointer;
    }
    &:first-child,
    &:nth-child(2){
        color:#CDCDCD;
        border: 2px solid #CDCDCD;
        cursor:auto;
    }
    &:nth-child(3){
        background: $primaryColor;
        cursor:auto;
    }
}


.footer {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
linear-gradient(0deg, #211F20, #211F20);
    .container {
        max-width: 75em;
        margin: 0 auto;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 2.5em 0 0;
    }
    &__contact {
        max-width: 17.395rem;
    }
    &__location {
        max-width: 18.875rem;
    }
}


.contact{
    &__title {
    color: $colorLight;
    font-weight: 400;
    max-width: 8.59em;
    margin-bottom: 1.29em;
    margin-top: 0.5em;
    }
    &__list-item {
        font-family: "Georgia", serif;
        @include text(1.25rem, 400, 115%, $primaryColor);
        letter-spacing: 0.06em;
        padding-left: 3.01em;
        position: relative;
        &:first-child{
            margin-bottom: 2.19em;
        }
    }
    &__item-link{
        color: $primaryColor;
        position: relative;
    }
    &__icon-link{
        position: absolute;
        top: -6px;
        left: -60px;
        &--tel{
            top: -2px;
        }
    }
}

.location{
    &__title {
        color: $colorLight;
        font-weight: 400;
        max-width: 8.59em;
        margin-bottom: 0.9em;
        margin-top: 0.5em;
    }
    &__list-item {
        font-family: "Georgia", serif;
        @include text(1.25rem, 400, 115%, $primaryColor);
        letter-spacing: 0.06em;
        padding-left: 2.11em;
        &:first-child{
            margin-bottom: 1.85em;
        }
    }
    &__item-link{
        color:$primaryColor;
        position: relative;
    }
    &__icon-link{
        position: absolute;
        top: 5px;
        left: -42px;
    }
    &__icon-link_two{
        top: -4px;
    }
    &__img {
        object-fit: contain;
    }
}

.location__item-link--two{
    top: -4px;
}